BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8787
BETTER_AUTH_API_KEY=

GITHUB_TOKEN=

TAILSCALE_OAUTH_CLIENT_ID=
TAILSCALE_OAUTH_CLIENT_SECRET=
TAILSCALE_OAUTH_SCOPE=devices:core:read
TAILSCALE_TAILNET=
TAILSCALE_STATUS_DEVICE=
